<!doctype html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PV2RM77');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
<title><%=translation.title%></title>
<meta property="og:title" content="<%=translation.title%>" />
<meta property="og:type" content="website">
<meta property="og:url" content="http://eliya-bot.herokuapp.com/<% if (data.listview) { %>list<% } %><% if (data.listid) { %><%= data.listid %><% } %>">
<meta property="og:image" content="http://eliya-bot.herokuapp.com/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">	
<link rel="stylesheet" href="/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/css/reset.css" type="text/css">	
<link rel="stylesheet" href="/css/common.css" type="text/css">	
<link rel="stylesheet" href="/css/client.css?2006191114" type="text/css">
<style>
#unisons .main:after { content: "<%=translation.Main%>";}
#unisons ul:nth-child(1)  .main:after {content: "<%=translation.Leader%>";}
#unisons .sub:after {content: "<%=translation.Sub%>";}
#unisons .weapon:after {content: "<%=translation.Weapon%>";}
#unisons .soul:after {content: "<%=translation.Soul%>";}
</style>
</head>
<body class="body viewchar <% if (data.listview) { %>listView<% } %> lang-<%=lang%>">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV2RM77"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
  <div class="wrapper">
  <div class="toolbar">
<ul>
    <li><a class="<%=(lang=="ja"?"active":"")%>" href="/?clang=ja">日本語</a></li>
    <li><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
  </ul>
  <ul class="btnList">
	  <li id="btnListView" class="button <% if (data.listview) { %>on<% } %>"><%=translation.ListView%></li>
	  <li id="btnSave" class="button"><%=translation.Save%></li>
	  <li id="btnGetShareURL" class="button"><%=translation.GenerateShareURL%></li>
	  <li id="shareURL" class="url">
		<input id="txtShareURL" type="text" class="txtURL" value="">
		<div id="btnUrlCopy" class="button btnCopy" data-target="txtShareURL">
		  <svg class="" viewBox="0 0 24 24" version="1.1" width="16" height="16" aria-hidden="true"><path xmlns="http://www.w3.org/2000/svg" d="M20.25 2.625h-2.625v1.5h2.25v17.625h-15.75v-17.625h2.25v-1.5h-2.625c-0.621 0.001-1.124 0.504-1.125 1.125v18.375c0.001 0.621 0.504 1.124 1.125 1.125h16.5c0.621-0.001 1.124-0.504 1.125-1.125v-18.375c-0.001-0.621-0.504-1.124-1.125-1.125h-0z"/><path xmlns="http://www.w3.org/2000/svg" d="M9 6.563h6c0.621-0.001 1.124-0.504 1.125-1.125v-4.688h-8.25v4.688c0.001 0.621 0.504 1.124 1.125 1.125h0zM9.375 2.25h5.25v2.813h-5.25z"/></svg>
        </div>
	  </li>
	  </ul>
	<div id="errMsg" class="message hidden"></div>
  </div>		
	  <h1 class="title"><%=translation.title%></h1>
	  <ul id="switchUnits" class="filterList">
			  <li id="btnShowChar" class="on" data-type="char"><%=translation.Characters%></li>
			  <li id="btnShowEquip" data-type="equip"><%=translation.Equipments%></li>
			  </ul>
	  <article id="chars">
		  <ul id="filterCharAttribute" class="filterList">
			  <li class="btnFilter charFilter" data-filter="AttributeFire"><img src="/img/assets/sprites/elements/element_red.png"></li>
			  <li class="btnFilter charFilter" data-filter="AttributeWater"><img src="/img/assets/sprites/elements/element_blue.png"></li>
			  <li class="btnFilter charFilter" data-filter="AttributeThunder"><img src="/img/assets/sprites/elements/element_yellow.png"></li>
			  <li class="btnFilter charFilter" data-filter="AttributeWind"><img src="/img/assets/sprites/elements/element_green.png"></li>			  
			  <li class="btnFilter charFilter" data-filter="AttributeLight"><img src="/img/assets/sprites/elements/element_white.png"></li>
			  <li class="btnFilter charFilter" data-filter="AttributeDark"><img src="/img/assets/sprites/elements/element_black.png"></li>
			  </ul>
		  <ul id="filterCharRarity" class="filterList">
			  <li class="btnFilter charFilter" data-filter="Rarity5"><img src="/img/assets/sprites/rarity/star5.png"></li>
			  <li class="btnFilter charFilter" data-filter="Rarity4"><img src="/img/assets/sprites/rarity/star4.png"></li>
			  <li class="btnFilter charFilter" data-filter="Rarity3"><img src="/img/assets/sprites/rarity/star3.png"></li>
			  <li class="btnFilter charFilter" data-filter="Rarity2"><img src="/img/assets/sprites/rarity/star2.png"></li>
			  <li class="btnFilter charFilter" data-filter="Rarity1"><img src="/img/assets/sprites/rarity/star1.png"></li>
			  </ul>		
		  <ul id="filterAltArt" class="filterList">			  
			  <li id="btnShowRole" data-type="char"><%=translation.ShowRole%></li>				  
			  <li id="btnAltArt"><%=translation.Awaken%></li>
			  <li class="btnShowOwned" data-type="char"><%=translation.ShowOwned%></li>
			  </ul>			
		  <ul id="filterCharRole" class="filterList">
			  <li class="btnFilter charFilter" data-filter="RoleSword"><img src="/img/assets/sprites/types/type_knight.png"></li>
			  <li class="btnFilter charFilter" data-filter="RoleFist"><img src="/img/assets/sprites/types/type_fighter.png"></li>
			  <li class="btnFilter charFilter" data-filter="RoleBow"><img src="/img/assets/sprites/types/type_ranged.png"></li>
			  <li class="btnFilter charFilter" data-filter="RoleSupport"><img src="/img/assets/sprites/types/type_supporter.png"></li>
			  <li class="btnFilter charFilter" data-filter="RoleSpecial"><img src="/img/assets/sprites/types/type_special.png"></li>
			  </ul>		
		  <ul id="filterCharRace" class="filterList">
			  <li class="btnFilter charFilter" data-filter="RaceAquatic"><%=translation.RaceAquatic%></li>					  
			  <li class="btnFilter charFilter" data-filter="RaceBeast"><%=translation.RaceBeast%></li>				  
			  <li class="btnFilter charFilter" data-filter="RaceDemon"><%=translation.RaceDemon%></li>				  
			  <li class="btnFilter charFilter" data-filter="RaceDragon"><%=translation.RaceDragon%></li>
			  <li class="btnFilter charFilter" data-filter="RaceHuman"><%=translation.RaceHuman%></li>				  
			  <li class="btnFilter charFilter" data-filter="RaceMecha"><%=translation.RaceMecha%></li>
			  <li class="btnFilter charFilter" data-filter="RacePlant"><%=translation.RacePlant%></li>				  
			  <li class="btnFilter charFilter" data-filter="RaceSprite"><%=translation.RaceSprite%></li>
			  <li class="btnFilter charFilter" data-filter="RaceUndead"><%=translation.RaceUndead%></li>				  
			  <li class="btnFilter charFilter" data-filter="RaceYoukai"><%=translation.RaceYoukai%></li>

			  </ul>			  
		  <section id="charRarity5">
			<h2><img src="/img/assets/sprites/rarity/star5.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllChar5" class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 charList unitList"></ul>
		  </section>
		  <section id="charRarity4">
			<h2><img src="/img/assets/sprites/rarity/star4.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar4" class="btnSelectAll button"><%=translation.SelectAll%></div>				  
			<ul class="rarity4 charList unitList"></ul>
		  </section>
		  <section id="charRarity3">
			<h2><img src="/img/assets/sprites/rarity/star3.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar3" class="btnSelectAll button"><%=translation.SelectAll%></div>				  
			<ul class="rarity3 charList unitList"></ul>
		  </section>
		  <section id="charRarity2">
			<h2><img src="/img/assets/sprites/rarity/star2.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar2" class="btnSelectAll button"><%=translation.SelectAll%></div>				  
			<ul class="rarity2 charList unitList"></ul>
		  </section>
		  <section id=charRarity1>
			<h2><img src="/img/assets/sprites/rarity/star1.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar1" class="btnSelectAll button"><%=translation.SelectAll%></div>				  
			<ul class="rarity1 charList unitList"></ul>
		  </section>
		  <div id="charGrandTotal"><%=translation.Overall%><br><span class="percentage"></span><br><span class="score"></span></div>
	  </article>
	  <article id="equips">
		  <ul id="filterEquipAttribute" class="filterList">
			  <li class="btnFilter" data-filter="AttributeFire"><img src="/img/assets/sprites/elements/element_red.png"></li>
			  <li class="btnFilter" data-filter="AttributeWater"><img src="/img/assets/sprites/elements/element_blue.png"></li>
			  <li class="btnFilter" data-filter="AttributeThunder"><img src="/img/assets/sprites/elements/element_yellow.png"></li>			  
			  <li class="btnFilter" data-filter="AttributeWind"><img src="/img/assets/sprites/elements/element_green.png"></li>
			  <li class="btnFilter" data-filter="AttributeLight"><img src="/img/assets/sprites/elements/element_white.png"></li>
			  <li class="btnFilter" data-filter="AttributeDark"><img src="/img/assets/sprites/elements/element_black.png"></li>
			  <li class="btnFilter" data-filter="AttributeAll"><%=translation.AttributeAll%></li>				  
			  </ul>
		  <ul id="filterEquipRarity" class="filterList">
			  <li class="btnFilter" data-filter="Rarity5"><img src="/img/assets/sprites/rarity/star5.png"></li>
			  <li class="btnFilter" data-filter="Rarity4"><img src="/img/assets/sprites/rarity/star4.png"></li>
			  <li class="btnFilter" data-filter="Rarity3"><img src="/img/assets/sprites/rarity/star3.png"></li>
			  <li class="btnFilter" data-filter="Rarity2"><img src="/img/assets/sprites/rarity/star2.png"></li>
			  <li class="btnFilter" data-filter="Rarity1"><img src="/img/assets/sprites/rarity/star1.png"></li>
			  </ul>		
		  <ul id="filterEquipObtain" class="filterList">
			  <li class="btnFilter" data-filter="NoGacha"><%=translation.NoGacha%></li>
			  <li id="btnViewSoul"><%=translation.AbilitySoul%></li>				  
			  <li class="btnShowOwned" data-type="equip"><%=translation.ShowOwned%></li>
			  </ul>				  
		  <section id="equipRarity5">
			<h2><img src="/img/assets/sprites/rarity/star5.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip5" class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity4">
			<h2><img src="/img/assets/sprites/rarity/star4.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip4"  class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity3">
			<h2><img src="/img/assets/sprites/rarity/star3.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip3"  class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity2">
			<h2><img src="/img/assets/sprites/rarity/star2.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip2"  class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity1">
			<h2><img src="/img/assets/sprites/rarity/star1.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip1"  class="btnSelectAll button"><%=translation.SelectAll%></div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		   <div id="equipGrandTotal"><%=translation.Overall%><br><span class="percentage"></span><br><span class="score"></span></div>
	  </article>		  
	  <div id="info">
		  <div id="infoButtons" class="btnList">
			  <div id="btnCharInfo" class="button">
				  <%=translation.UnitInfo%>
			  </div>
			  <div id="btnPlanner" class="button">
				  <%=translation.PartyPlanner%>
			  </div>	
		  </div>			
		  <div class="infoWrapper">
		  </div>
		  <div id="planner" class="plannerWrapper">
			  <div id="unisons">
				  <ul id="unison1" class="unison">
					</ul>
				  <ul id="unison2" class="unison">
					</ul>
				  <ul id="unison3" class="unison">
					</ul>
			  </div>
			  <div id="btnUnset" class="button">X</div>
			  <ul id="plannerButtons" class="btnList">
				  <li id="btnShowSkillWait" class="button"><%=translation.ShowSkillWait%></li>
				  <li id="btnGetCompURL" class="button"><%=translation.GenerateImageURL%></li>
				  <li id="compURL" class="url">
					<input id="txtCompURL" type="text" class="txtURL" value="">
					<div id="btnUrlCopy" class="button btnCopy" data-target="txtCompURL">
					  <svg class="" viewBox="0 0 24 24" version="1.1" width="16" height="16" aria-hidden="true"><path xmlns="http://www.w3.org/2000/svg" d="M20.25 2.625h-2.625v1.5h2.25v17.625h-15.75v-17.625h2.25v-1.5h-2.625c-0.621 0.001-1.124 0.504-1.125 1.125v18.375c0.001 0.621 0.504 1.124 1.125 1.125h16.5c0.621-0.001 1.124-0.504 1.125-1.125v-18.375c-0.001-0.621-0.504-1.124-1.125-1.125h-0z"/><path xmlns="http://www.w3.org/2000/svg" d="M9 6.563h6c0.621-0.001 1.124-0.504 1.125-1.125v-4.688h-8.25v4.688c0.001 0.621 0.504 1.124 1.125 1.125h0zM9.375 2.25h5.25v2.813h-5.25z"/></svg>
					</div>
				  </li>				  
			  </ul>
		  </div>
	</div>
	  
  <div id="charNamePlate">
	  <% if (lang=="en"){%><div class="ENName"><span></span></div><% } %>
	  <div class="JPName"><span></span></div>
	  <div class="Obtain"><span></span></div>
  </div>
  <div id="charInfoTemplate" class="hidden charInfoBlock" >
	  <% if (lang=="en"){%><div class="ENName"><span></span></div><% } %>
	  <% if (lang=="ja"){%><div class="SubName"><span></span></div><% } %>
	  <div class="JPName"><span></span></div>
	  <div class="expandBlock">
		  <div class="Art"></div>
		  <div class="details">
			  <div class="Attribute"><%=translation.Attribute%>: <span></span></div>
			  <div class="Rarity"><%=translation.Rarity%>: <span></span></div>
			  <div class="LeaderBuff"><%=translation.LeaderBuff%>: <span></span></div>
			  <div class="Skill"><%=translation.Skill%>: <span></span></div>		
			  <div class="SkillWait"><%=translation.SkillWait%>: <span></span></div>
			  <div class="Ability1"><%=translation.Ability1%>: <span></span></div>		
			  <div class="Ability2"><%=translation.Ability2%>: <span></span></div>		
			  <div class="Ability3"><%=translation.Ability3%>: <span></span></div>
			  <div class="footer">
				  <div class="Role"><span></span></div>
				  <div class="Gender"><span></span></div>
				  <div class="Race"><span></span></div>	
			  	  <div class="Obtain"><span></span></div>					  
			  </div>
		  </div>				
	  </div>

  </div>
  <div id="equipInfoTemplate" class="hidden equipInfoBlock" >
	  <div class="ENName"><span></span></div>
	  <div class="JPName"><span></span></div>
	  <div class="expandBlock">
		  <div class="Art"></div>
		  <div class="details">
			  <div class="Attribute"><%=translation.Attribute%>: <span></span></div>
			  <div class="Rarity"><%=translation.Rarity%>: <span></span></div>
			  <div class="MaxHP"><%=translation.HP%>: <span></span></div>		
			  <div class="MaxATK"><%=translation.ATK%>: <span></span></div>		
			  <div class="WeaponSkill"><%=translation.WeaponSkill%>: <span></span></div>	
			  <div class="AbilitySoul"><%=translation.AbilitySoul%>: <span></span></div>
			  <div class="Obtain"><%=translation.Obtain%>: <span></span></div>		
		  </div>				
	  </div>
  </div>	  
  </div>	  	  
  <script>
	  var listid;
	  var lang = "<%=lang%>"
		<% if (data.listid) { %> listid = <%= data.listid %>; <% } %>
		window.module = {};
	  var tls={"SelectAll":"<%=translation.SelectAll%>","DeselectAll":"<%=translation.DeselectAll%>","Wait":"<%=translation.Wait%>","URLExpired":"<%=translation.URLExpired%>","RaceAquatic": "<%=translation.RaceAquatic%>","RaceBeast": "<%=translation.RaceBeast%>","RaceDemon": "<%=translation.RaceDemon%>","RaceDragon": "<%=translation.RaceDragon%>","RaceHuman": "<%=translation.RaceHuman%>","RaceMecha": "<%=translation.RaceMecha%>","RacePlant": "<%=translation.RacePlant%>","RaceSprite": "<%=translation.RaceSprite%>","RaceUndead": "<%=translation.RaceUndead%>","RaceYoukai": "<%=translation.RaceYoukai%>","RoleSword": "<%=translation.RoleSword%>","RoleFist": "<%=translation.RoleFist%>","RoleBow": "<%=translation.RoleBow%>","RoleSupport": "<%=translation.RoleSupport%>","RoleSpecial": "<%=translation.RoleSpecial%>","AttributeFire": "<%=translation.AttributeFire%>","AttributeWater": "<%=translation.AttributeWater%>","AttributeThunder": "<%=translation.AttributeThunder%>","AttributeWind": "<%=translation.AttributeWind%>","AttributeLight": "<%=translation.AttributeLight%>","AttributeDark": "<%=translation.AttributeDark%>","AttributeAll": "<%=translation.AttributeAll%>","GenderMale":"<%=translation.GenderMale%>","GenderFemale":"<%=translation.GenderFemale%>" }
  </script>
  <script src="/socket.io/socket.io.js"></script>	  
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>	
  <script src="/js/copy.js"></script>
  <script src="/js/eliya.tracker.js?2006181449"></script>
  </body>

</html>